# general ignores
.*
!.git*
_*
*.out

# ignores specific to seqneut-pipeline output

results/*

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*.csv

!results/barcode_fates
results/barcode_fates/*
!results/barcode_fates/*.csv

!results/plates
results/plates/*/*
!results/plates/*/frac_infectivity.csv
!results/plates/*/curvefits.csv
!results/plates/*/qc_drops.yml

!results/miscellaneous_plates
results/miscellaneous_plates/*/*
!results/miscellaneous_plates/*/*counts.csv
!results/miscellaneous_plates/*/*fates.csv

!results/sera
results/sera/*/*
!results/sera/groups_sera_by_plate.csv
!results/sera/*/titers.csv
!results/sera/*/titers_per_replicate.csv
!results/sera/*/qc_drops.yml

!results/aggregated_titers
results/aggregated_titers/*
!results/aggregated_titers/titers*.csv

!results/qc_drops
results/qc_drops/*
!results/qc_drops/*.yml

!results/miscellaneous_plates
results/miscellaneous_plates/*/*
!results/miscellaneous_plates/*/*counts.csv
!results/miscellaneous_plates/*/*fates.csv

# ignores specific to custom analyses in Snakefile

!results/viral_strain_seqs
results/viral_strain_seqs/*
!results/viral_strain_seqs/recent_HA_ectodomain_nts.fa
!results/viral_strain_seqs/recent_HA_ectodomain_prots.fa

!results/aggregated_analyses
results/aggregated_analyses/*
!results/aggregated_analyses/human_sera_metadata.csv
!results/aggregated_analyses/human_sera_titers.csv
!results/aggregated_analyses/human_sera_titers_summarized.csv

!results/validate_viral_library
results/validate_viral_library/*
!results/validate_viral_library/*_validation.txt

!results/sera_metadata
results/sera_metadata/*
!results/sera_metadata/all_sera_metadata.csv

!results/final_titer_data
results/final_titer_data/*
!results/final_titer_data/*.csv
!results/final_titer_data/*_summary.txt
